<div>
    <footer>
        <style>
            html {
                height: 100%;
            }

            body {
                min-height: 100%;
                display: flex;
                flex-direction: column;
            }

            footer {
                background-color: #ffffff;
                position: fixed;
                right: 0;
                bottom: 0;
                padding-right: 75px;
                text-align: right;
                width: 100%;
                font-size: 15px;
                font-weight: bold;
                color: #da0202;
            }
        </style>
        <div>&copy 2024 Sergey Basov | v0.7.5a</div>
    </footer>
</div>