<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="ISO-8859-1">
    <title>Cell Status Manager (Single NE)</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>

<body>
    <header th:replace="~{fragments/header :: header}"></header>
<main>
<div class="container my-2">
    <script>
        function searchByUserLabel() {
            let inputValue = document.getElementById("userlabel").value;
            if (inputValue === "") {
                event.preventDefault();
                alert("Search form is empty!")
            } else {
                let form = document.getElementById("search");
                form.action = "/helper/cellStatus/" + inputValue;
            }
        }
         document.addEventListener('DOMContentLoaded', function () {
            const synchronize = document.getElementById('reset-NE');
            synchronize.addEventListener('click', function (event) {
                const isConfirmed = confirm('Confirm operation! NE will be reset!')
                if (!isConfirmed) {
                    event.preventDefault()
                }
            });
        });
    </script>
<!--    "${managedElement != null} ? ${managedElement.getUserLabel()} : ${sitename}"-->
    <div style="display: flex; gap: 5px;">
    <form id="search" method="get" onsubmit="searchByUserLabel()">
        <input type="text" id="userlabel" name="userlabel" th:value="${sitename}" placeholder="Enter sitename" list="recent-list">
        <datalist id="recent-list">
            <th:block th:each="query : ${searchCache}">
                <option th:value="${query}"></option>
            </th:block>
        </datalist>
        <button type="submit" class="btn btn-success">Search</button>
    </form>
    <form th:if="${managedElement != null}" id="refresh" method="get"
          th:action="@{'/helper/cellStatus/' + ${managedElement.userLabel}}">
        <button type="submit" class="btn btn-secondary">Refresh</button>
    </form>
    <form th:if="${managedElement != null}" id="reset-NE"
          sec:authorize="hasAuthority('CELL_STAT_MNG_SINGLE_FULL')"
          action="#" th:action="@{/helper/cellStatus/reset}" method="post">
        <input type="hidden" name="userLabel" th:value="${managedElement.userLabel}">
        <button type="submit" class="btn btn-danger">Reset NE</button>
    </form>
    </div>

    <style>
        legend {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .legend-title {
            flex-grow: 1;
            margin-left: auto;
            align-items: start;
        }

        .legend-button {
            margin-right: auto;
            align-items: end;
        }

        input[type="checkbox"] {
            transform: scale(1.5);
            /*margin-right: 10px;*/
        }

        .radio-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
        input::-webkit-calendar-picker-indicator {
            display: none !important;
        }
    </style>

    <script>
        function checkAll(source, tableId) {
            const checkboxes = document.querySelectorAll(`#${tableId} input[type="checkbox"][name$=".selected"]`);
            checkboxes.forEach(checkbox => checkbox.checked = source.checked);
            // updateCheckAll(tableId);

        }

        function updateCheckAll(tableId) {
            const checkboxes = document.querySelectorAll(`#${tableId} input[type="checkbox"][name$=".selected"]`);
            const checkAllBox = document.querySelector(`#${tableId} .checkAllBox`);
            const allChecked = Array.from(checkboxes).every(checkbox => checkbox.checked)
            checkAllBox.checked = allChecked;
        }

        window.onload = function () {
            const umtsCheckboxes = document.querySelectorAll('#UMTS-table input[type="checkbox"][name$=".selected"]');
            const nbIoTCheckboxes = document.querySelectorAll('#NBIOT-table input[type="checkbox"][name$=".selected"]');
            umtsCheckboxes.forEach(checkbox => {
                checkbox.addEventListener('change', () => updateCheckAll('UMTS-table'));
            });
            nbIoTCheckboxes.forEach(checkbox => {
                checkbox.addEventListener('change', () => updateCheckAll('NBIOT-table'));
            });
        }

        function clickOnRowChecking(row) {
            const checkbox = row.querySelector('input[type="checkbox"]');
            if (checkbox) {
                checkbox.checked = !checkbox.checked;
            }
        }

    </script>
    <div th:if="${managedElement != null}">
        <form sec:authorize="hasAuthority('CELL_STAT_MNG_SINGLE_FULL')" action="#" th:action="@{/helper/cellStatus/changeStatus}" method="post">
            <fieldset>
                <legend style="gap:5px;">
                    <span class="legend-title" th:text="${managedElement.userLabel} + ' (' + ${managedElement.ManagedElementType} + ') '
                        + ${managedElement.getParsedNe()}"></span>
                    <input type="hidden" name="userLabel" th:value="${managedElement.userLabel}">
                    <input style="width: 400px; height: 30px; font-size: 15px;"
                            type="text" id="comment" name="comment" th:value="${comment}" placeholder="Enter comment information for blocking cells" list="comment-list">
                    <datalist id="comment-list">
                        <th:block th:each="query : ${comments}">
                            <option th:value="${query}"></option>
                        </th:block>
                    </datalist>
                    <button type="submit" class="btn btn-danger legend-button">! Change status</button>
                </legend>

                <div th:if="${repoUMTS.getDataUMTS() != null}" class="row">
                    <div style="position: relative;" class="col-md-8">
                        <table th:object="${repoUMTS}" id="UMTS-table" border="1"
                               class="table table-striped table-sm table-bordered">
                            <thead>
                            <tr>
                                <th class="text-center" width=5%>
                                    <input type="checkbox" class="checkAllBox" onclick="checkAll(this, 'UMTS-table')">
                                </th>
                                <th class="pl-5">userLabel</th>
                                <th th:if="${managedElement.getManagedElementType().toString.equals('SDR')}"
                                    class="pl-5">adminState
                                </th>
                                <th th:if="${managedElement.getManagedElementType().toString.equals('ITBBU')}"
                                    class="pl-5">adminState
                                </th>
                                <th class="pl-5">operState</th>
                            </tr>
                            </thead>
                            <tbody th:if="${!repoUMTS.getDataUMTS().isEmpty()}">
                            <tr th:each="cell, cellStat : *{dataUMTS}">
                                <td class="text-center">
                                    <input type="checkbox" class="UMTS-checkbox"
                                           th:field="*{dataUMTS[__${cellStat.index}__].selected}">
                                    <input type="hidden" th:field="*{dataUMTS[__${cellStat.index}__].userLabel}">
                                    <input type="hidden" th:field="*{dataUMTS[__${cellStat.index}__].adminState}">
                                    <input type="hidden" th:field="*{dataUMTS[__${cellStat.index}__].operState}">
                                    <input type="hidden" th:field="*{dataUMTS[__${cellStat.index}__].availStatus}">
                                    <input type="hidden" th:field="*{dataUMTS[__${cellStat.index}__].ldn}">
                                    <input type="hidden" th:field="*{dataUMTS[__${cellStat.index}__].existed}">
                                </td>
                                <td class="pl-5" th:text="${cell.userLabel}"></td>
                                <td class="pl-5" th:text="${cell.adminState}"></td>
                                <td class="pl-5" th:text="${cell.operState}" th:style="${cell.existed} ? 'color: black;' : 'color: red;'"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table border="1" class="table table-striped table-sm table-bordered">
                            <thead>
                            <tr>
                                <th class="pl-5">operation</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="pl-5">
                                    <div class="radio-container">
                                        <label><input type="radio" name="operationUMTS" value="0" checked> No Operation</label>
                                        <label><input type="radio" name="operationUMTS" value="1"> Block</label>
                                        <label th:if="${managedElement.getManagedElementType().toString.equals('SDR')}">
                                            <input type="radio" name="operationUMTS" value="2"> Smoothly Block</label>
                                        <!--                                    <label th:if="${managedElement.getManagedElementType().toString.equals('SDR')}">-->
                                        <!--                                        <input type="radio" name="operationUMTS" value="3"> Smoothly Block / Block</label>-->
                                        <label><input type="radio" name="operationUMTS" value="4"> Unblock</label>
                                        <label th:if="${managedElement.getManagedElementType().toString.equals('SDR')}">
                                            <input type="radio" name="operationUMTS" value="5"> Smoothly Unblock</label>
                                        <!--                                    <label th:if="${managedElement.getManagedElementType().toString.equals('SDR')}">-->
                                        <!--                                        <input type="radio" name="operationUMTS" value="6"> Unblock / Smoothly Unblock </label>-->
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table border="0" class="table-sm">
                            <thead>
                            <tr>
                            <th>
                                <button id="details" class="btn btn-primary text-center width-250px" type="submit" formtarget="_blank" formaction="/helper/cellStatus/cellStatusDetails"> Cell Status Details </button>
                            </th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>

                <div th:if="${repoGSM.getDataGSM() != null}" class="row">
                    <div class="col-md-8">
                        <table th:object="${repoGSM}" id="GSM-table" border="1"
                               class="table table-striped table-sm table-bordered">
                            <thead>
                            <tr>
                                <th class="text-center" width=5%>
                                    <input type="checkbox" class="checkAllBox" onclick="checkAll(this, 'GSM-table')">
                                </th>
                                <th class="pl-5">userLabel</th>
                                <th class="pl-5">hasAlarm</th>
                            </tr>
                            </thead>
                            <tbody th:if="${!repoGSM.getDataGSM().isEmpty()}">
                            <tr th:each="cell, cellStat : *{dataGSM}">
                                <td class="text-center">
                                    <input type="checkbox" class="GSM-checkbox"
                                           th:field="*{dataGSM[__${cellStat.index}__].selected}">
                                    <input type="hidden" th:field="*{dataGSM[__${cellStat.index}__].userLabel}">
                                    <input type="hidden" th:field="*{dataGSM[__${cellStat.index}__].ldn}">
                                    <input type="hidden" th:field="*{dataGSM[__${cellStat.index}__].hasAlarm}">
                                </td>
                                <td class="pl-5" th:text="${cell.userLabel}"></td>
                                <td class="pl-5" th:text="${cell.hasAlarm}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table border="1" class="table table-striped table-sm table-bordered">
                            <thead>
                            <tr>
                                <th class="pl-5">operation</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="pl-5">
                                    <div class="radio-container">
                                        <label><input type="radio" name="operationGSM" value="0" checked> No
                                            Operation</label>
                                        <label><input type="radio" name="operationGSM" value="1"> Block</label>
                                        <label><input type="radio" name="operationGSM" value="4"> Unblock</label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div th:if="${repoLTEFDD.getDataLTEFDD() != null}" class="row">
                    <div class="col-md-8">
                        <table th:object="${repoLTEFDD}" id="LTEFDD-table" border="1"
                               class="table table-striped table-sm table-bordered">
                            <thead>
                            <tr>
                                <th class="text-center" width=5%>
                                    <input type="checkbox" class="checkAllBox" onclick="checkAll(this, 'LTEFDD-table')">
                                </th>
                                <th class="pl-5">userLabel</th>
                                <th class="pl-5">adminState</th>
                                <th class="pl-5">operState</th>
                            </tr>
                            </thead>
                            <tbody th:if="${!repoLTEFDD.getDataLTEFDD().isEmpty()}">
                            <tr th:each="cell, cellStat : *{dataLTEFDD}">
                                <td class="text-center">
                                    <input type="checkbox" class="LTEFDD-checkbox"
                                           th:field="*{dataLTEFDD[__${cellStat.index}__].selected}">
                                    <input type="hidden" th:field="*{dataLTEFDD[__${cellStat.index}__].userLabel}">
                                    <input type="hidden" th:field="*{dataLTEFDD[__${cellStat.index}__].adminState}">
                                    <input type="hidden" th:field="*{dataLTEFDD[__${cellStat.index}__].operState}">
                                    <input type="hidden" th:field="*{dataLTEFDD[__${cellStat.index}__].ldn}">
                                </td>
                                <td class="pl-5" th:text="${cell.userLabel}"></td>
                                <td class="pl-5" th:text="${cell.adminState}"></td>
                                <td class="pl-5" th:text="${cell.operState}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table border="1" class="table table-striped table-sm table-bordered">
                            <thead>
                            <tr>
                                <th class="pl-5">operation</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="pl-5">
                                    <div class="radio-container">
                                        <label><input type="radio" name="operationLTEFDD" value="0" checked> No Operation</label>
                                        <label><input type="radio" name="operationLTEFDD" value="1"> Block</label>
                                        <label><input type="radio" name="operationLTEFDD" value="4"> Unblock</label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div th:if="${repoNBIoT.getDataNBIOT() != null}" class="row">
                    <div class="col-md-8">
                        <table th:object="${repoNBIoT}" id="NBIOT-table" border="1"
                               class="table table-striped table-sm table-bordered">
                            <thead>
                            <tr>
                                <th class="text-center" width=5%>
                                    <input type="checkbox" class="checkAllBox" onclick="checkAll(this, 'NBIOT-table')">
                                </th>
                                <th class="pl-5">userLabel</th>
                                <th class="pl-5">adminState</th>
                                <th class="pl-5">operState</th>
                            </tr>
                            </thead>
                            <tbody th:if="${!repoNBIoT.getDataNBIOT().isEmpty()}">
                            <tr th:each="cell, cellStat : *{dataNBIOT}">
                                <td class="text-center">
                                    <input type="checkbox" class="NBIOT-checkbox"
                                           th:field="*{dataNBIOT[__${cellStat.index}__].selected}">
                                    <input type="hidden" th:field="*{dataNBIOT[__${cellStat.index}__].userLabel}">
                                    <input type="hidden" th:field="*{dataNBIOT[__${cellStat.index}__].adminState}">
                                    <input type="hidden" th:field="*{dataNBIOT[__${cellStat.index}__].operState}">
                                    <input type="hidden" th:field="*{dataNBIOT[__${cellStat.index}__].ldn}">
                                </td>
                                <td class="pl-5" th:text="${cell.userLabel}"></td>
                                <td class="pl-5" th:text="${cell.adminState}"></td>
                                <td class="pl-5" th:text="${cell.operState}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table border="1" class="table table-striped table-sm table-bordered">
                            <thead>
                            <tr>
                                <th class="pl-5">operation</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="pl-5">
                                    <div class="radio-container">
                                        <label><input type="radio" name="operationNBIoT" value="0" checked> No Operation</label>
                                        <label><input type="radio" name="operationNBIoT" value="1"> Block</label>
                                        <label><input type="radio" name="operationNBIoT" value="4"> Unblock</label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </fieldset>
        </form>

        <div sec:authorize="hasAuthority('CELL_STAT_MNG_SINGLE_VIEW')">
            <legend>
                    <span class="legend-title" th:text="${managedElement.userLabel} + ' (' + ${managedElement.ManagedElementType} + ') '
                        + ${managedElement.getParsedNe()}"> </span>
            </legend>
            <div th:if="${repoUMTS.getDataUMTS() != null}" class="row">
                <div style="position: relative;" class="col-md-8">
                    <table th:object="${repoUMTS}" id="UMTS-table-view" border="1"
                           class="table table-striped table-sm table-bordered">
                        <thead>
                        <tr>
                            <th class="pl-5">userLabel</th>
                            <th th:if="${managedElement.getManagedElementType().toString.equals('SDR')}"
                                class="pl-5">adminState
                            </th>
                            <th th:if="${managedElement.getManagedElementType().toString.equals('ITBBU')}"
                                class="pl-5">adminState
                            </th>
                            <th class="pl-5">operState</th>
                        </tr>
                        </thead>
                        <tbody th:if="${!repoUMTS.getDataUMTS().isEmpty()}">
                        <tr th:each="cell, cellStat : *{dataUMTS}">
                            <td class="pl-5" th:text="${cell.userLabel}"></td>
                            <td class="pl-5" th:text="${cell.adminState}"></td>
                            <td class="pl-5" th:text="${cell.operState}" th:style="${cell.existed} ? 'color: black;' : 'color: red;'"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <table border="0" class="table-sm">
                        <thead>
                        <tr>
                            <th>
                                <form th:action="@{/helper/cellStatus/cellStatusDetails}" method="post">
                                <button id="details-view" class="btn btn-primary text-center width-250px" type="submit" formtarget="_blank"> Cell Status Details </button>
                                    <input type="hidden" name="userLabel" th:value="${managedElement.userLabel}">
                                </form>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <div th:if="${repoGSM.getDataGSM() != null}" class="row">
                <div class="col-md-8">
                    <table th:object="${repoGSM}" id="GSM-table-view" border="1"
                           class="table table-striped table-sm table-bordered">
                        <thead>
                        <tr>
                            <th class="pl-5">userLabel</th>
                            <th class="pl-5">hasAlarm</th>
                        </tr>
                        </thead>
                        <tbody th:if="${!repoGSM.getDataGSM().isEmpty()}">
                        <tr th:each="cell, cellStat : *{dataGSM}">
                            <td class="pl-5" th:text="${cell.userLabel}"></td>
                            <td class="pl-5" th:text="${cell.hasAlarm}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div th:if="${repoLTEFDD.getDataLTEFDD() != null}" class="row">
                <div class="col-md-8">
                    <table th:object="${repoLTEFDD}" id="LTEFDD-table-view" border="1"
                           class="table table-striped table-sm table-bordered">
                        <thead>
                        <tr>
                            <th class="pl-5">userLabel</th>
                            <th class="pl-5">adminState</th>
                            <th class="pl-5">operState</th>
                        </tr>
                        </thead>
                        <tbody th:if="${!repoLTEFDD.getDataLTEFDD().isEmpty()}">
                        <tr th:each="cell, cellStat : *{dataLTEFDD}">
                            <td class="pl-5" th:text="${cell.userLabel}"></td>
                            <td class="pl-5" th:text="${cell.adminState}"></td>
                            <td class="pl-5" th:text="${cell.operState}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div th:if="${repoNBIoT.getDataNBIOT() != null}" class="row">
                <div class="col-md-8">
                    <table th:object="${repoNBIoT}" id="NBIOT-table-view" border="1"
                           class="table table-striped table-sm table-bordered">
                        <thead>
                        <tr>
                            <th class="pl-5">userLabel</th>
                            <th class="pl-5">adminState</th>
                            <th class="pl-5">operState</th>
                        </tr>
                        </thead>
                        <tbody th:if="${!repoNBIoT.getDataNBIOT().isEmpty()}">
                        <tr th:each="cell, cellStat : *{dataNBIOT}">
                            <td class="pl-5" th:text="${cell.userLabel}"></td>
                            <td class="pl-5" th:text="${cell.adminState}"></td>
                            <td class="pl-5" th:text="${cell.operState}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!--    <br />-->
    <!--        <h2>Batch Management</h2>-->
    <br/>
    <div th:if="${message != null && message.getSeverity().toString.equals('SUCCESS')}"
         th:text="${message.getMessage()}" class="alert alert-success" role="alert" id="alert-success">
    </div>
    <div th:if="${message != null && message.getSeverity().toString.equals('ERROR')}"
         th:text="${message.getMessage()}" class="alert alert-danger" role="alert" id="alert-danger">
    </div>
    <div th:if="${message != null && message.getSeverity().toString.equals('INFO')}"
         th:text="${message.getMessage()}" class="alert alert-info" role="alert" id="alert-info">
    </div>
</div>
</main>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>