<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>BSSHelper</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>

<body>
<!--<div th:replace="fragments/header :: header"></div>-->
<div class="container my-2">
    <h1>Dry Contact</h1>

    <script>
        function searchByUserLabel() {
            let inputValue = document.getElementById("userlabel").value;
            let form = document.getElementById("search");
            form.action = "/helper/dryContact/" + inputValue;
        }
    </script>

    <form id="search" method="get" onsubmit="searchByUserLabel()">
        <input type="text" id="userlabel" name="userlabel" th:value="${sitename}" placeholder="Enter sitename">
        <button type="submit" class="btn btn-secondary">Search</button>
    </form>

    <style>
        legend {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .legend-title {
            flex-grow: 1;
            margin-left: auto;
            align-items: start;
        }
        .legend-button {
            margin-right: auto;
            align-items: end;
        }
    </style>

<div th:if="${managedElement != null}">
<form th:if="${managedElement.getManagedElementType().toString.equals('SDR')}" id="repoSDR" action="#" th:action="@{/helper/dryContact/updateSDR}" method="post"  th:object="${repo}">
    <fieldset>
        <legend>
            <span class="legend-title" th:text="${managedElement.userLabel} + ' (' + ${managedElement.ManagedElementType} + ') '
            + ${managedElement.getParsedNe()}"> </span>
            <button  type="submit" class="btn btn-danger legend-button">! Synchronize Data</button>
        </legend>
    <table border="1" class = "table table-striped table-responsive-md table-bordered">
        <thead>
        <tr>
            <th>operation</th>
            <th>moId[1..32]</th>
            <th>dryNo[0..15]</th>
            <th>almUserLabel</th>
            <th>almStatus</th>
        </tr>
        </thead>
        <tbody th:if="${!repo.getData().isEmpty()}">
        <tr th:each="dryContact, dryStat : *{data}">
            <td>
                <select th:field="*{data[__${dryStat.index}__].moOp}">
                    <option th:each="opr : ${T(bsshelper.externalapi.configurationmng.plannedserv.util.Operation).values()}"
                            th:selected="${opr.equals(dryContact.moOp)}"
                            th:text="${opr}"
                            th:value="${opr}">
                    </option>
                </select>
            </td>


            <td>
                <input th:if="${repo.constMoIds.contains(dryContact.moId)}"
                       readonly type="number" th:field="*{data[__${dryStat.index}__].moId}" th:value="${dryContact.moId}"/>
                <input th:unless="${repo.constMoIds.contains(dryContact.moId)}"
                       type="number" th:field="*{data[__${dryStat.index}__].moId}" th:value="${dryContact.moId}"/>
            </td>
            <td>
                <input type="number" th:field="*{data[__${dryStat.index}__].dryNo}" th:value="${dryContact.dryNo}"/>
            </td>
            <td>
                <select th:field="*{data[__${dryStat.index}__].userLabel}">
                    <option th:each="almU : ${T(bsshelper.externalapi.configurationmng.plannedserv.util.drycontactenums.AlmUserLabel).values()}"
                            th:selected="${almU.equals(dryContact.userLabel)}"
                            th:text="${almU}"
                            th:value="${almU}">
                    </option>
                </select>
            </td>
            <td>
                <select th:field="*{data[__${dryStat.index}__].almStatus}">
                    <option th:each="almS : ${T(bsshelper.externalapi.configurationmng.plannedserv.util.drycontactenums.AlmStatus).values()}"
                            th:selected="${almS.equals(dryContact.almStatus)}"
                            th:text="${almS}"
                            th:value="${almS}">
                    </option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
    </fieldset>
</form>

    <form th:if="${managedElement.getManagedElementType().toString.equals('ITBBU')}" id="repoITBBU" action="#" th:action="@{/helper/dryContact/updateITBBU}" method="post"  th:object="${repo}">
        <fieldset>
            <legend>
            <span class="legend-title" th:text="${managedElement.userLabel} + ' (' + ${managedElement.ManagedElementType} + ') '
            + ${managedElement.getParsedNe()}"> </span>
                <button  type="submit" class="btn btn-danger legend-button">! Synchronize Data</button>
            </legend>
            <table border="1" class = "table table-striped table-responsive-md table-bordered">
                <thead>
                <tr>
                    <th>operation</th>
                    <th>moId[1..16]</th>
                    <th>almUserLabel</th>
                    <th>almStatus</th>
                </tr>
                </thead>
                <tbody th:if="${!repo.getData().isEmpty()}">
                <tr th:each="dryContact, dryStat : *{data}">
                    <td>
                        <select th:field="*{data[__${dryStat.index}__].moOp}">
                            <option th:each="opr : ${T(bsshelper.externalapi.configurationmng.plannedserv.util.Operation).values()}"
                                    th:selected="${opr.equals(dryContact.moOp)}"
                                    th:text="${opr}"
                                    th:value="${opr}">
                            </option>
                        </select>
                    </td>


                    <td>
                        <input th:if="${repo.constMoIds.contains(dryContact.moId)}"
                               readonly type="number" th:field="*{data[__${dryStat.index}__].moId}" th:value="${dryContact.moId}"/>
                        <input th:unless="${repo.constMoIds.contains(dryContact.moId)}"
                               type="number" th:field="*{data[__${dryStat.index}__].moId}" th:value="${dryContact.moId}"/>
                    </td>

                    <td>
                        <select th:field="*{data[__${dryStat.index}__].userLabel}">
                            <option th:each="almU : ${T(bsshelper.externalapi.configurationmng.plannedserv.util.drycontactenums.AlmUserLabel).values()}"
                                    th:selected="${almU.equals(dryContact.userLabel)}"
                                    th:text="${almU}"
                                    th:value="${almU}">
                            </option>
                        </select>
                    </td>
                    <td>
                        <select th:field="*{data[__${dryStat.index}__].alarmStatus}">
                            <option th:each="almS : ${T(bsshelper.externalapi.configurationmng.plannedserv.util.drycontactenums.AlmStatus).values()}"
                                    th:selected="${almS.equals(dryContact.alarmStatus)}"
                                    th:text="${almS}"
                                    th:value="${almS}">
                            </option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </form>

    <form th:if="${managedElement != null}" id="add" action="#" th:action="@{/helper/dryContact/add}" method="post">
       <legend>
            <button type="submit" class="btn btn-primary">Add DryContact</button>
            Note! Perform adding operations first, then make changes.
       </legend>
    </form>

</div>
    <br />
    <div th:if="${message != null && message.getSeverity().toString.equals('SUCCESS')}"
         th:text="${message.getMessage()}" class="alert alert-success" role="alert" id="alert-success">
    </div>
    <div th:if="${message != null && message.getSeverity().toString.equals('ERROR')}"
         th:text="${message.getMessage()}" class="alert alert-danger" role="alert" id="alert-danger">
    </div>
    <div th:if="${message != null && message.getSeverity().toString.equals('INFO')}"
         th:text="${message.getMessage()}" class="alert alert-info" role="alert" id="alert-info">
    </div>

</div>
<footer>
    <style>
        html {
            height: 100%;
        }

        body {
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }
        footer {
            /*background-color: #ea0505;*/
            position: fixed;
            right: 75px;
            bottom: 2px;
            text-align: right;
            width: 100%;
            font-size: 15px;
            font-weight: bold;
            color: #da0202;
        }
    </style>
    <div> &copy 2024 Sergey Basov | v0.1.03f </div>
</footer>
<!--<div th:replace="fragments/footer :: footer"></div>-->
</body>
</html>
