<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>BSSHelper</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>
<div class="container my-2">
    <h1>Main page</h1>

</div>
<!--<footer>-->
<!--    <style>-->
<!--        html {-->
<!--            height: 100%;-->
<!--        }-->

<!--        body {-->
<!--            min-height: 100%;-->
<!--            display: flex;-->
<!--            flex-direction: column;-->
<!--        }-->
<!--        footer {-->
<!--            /*background-color: #ea0505;*/-->
<!--            position: fixed;-->
<!--            right: 75px;-->
<!--            bottom: 2px;-->
<!--            text-align: right;-->
<!--            width: 100%;-->
<!--            font-size: 15px;-->
<!--            font-weight: bold;-->
<!--            color: #da0202;-->
<!--        }-->
<!--    </style>-->
<!--    <div> Copyright (c) 2024 Sergey Basov | v0.1.02 </div>-->
<!--</footer>-->
</body>
</html>