<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Acceptance Measurement</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>



<body>
    <header th:replace="~{fragments/header :: header}"></header>
    <main>
<div class="container my-2">

    <script>
        function searchByUserLabel() {
            let inputValue = document.getElementById("userlabel").value;
            const checkboxes = document.querySelectorAll('#Request-table input[type="checkbox"]')
            const isAnyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked)
            if (inputValue === "") {
                event.preventDefault();
                alert("Search form is empty!")
            } else {
                if (!isAnyChecked) {
                    event.preventDefault();
                    alert("Type of data isn't selected!")
                } else {
                    let form = document.getElementById("search");
                    form.action = "/helper/acceptanceMeasurement/" + inputValue;
                }
            }
        }

        function getChartRTWP() {
            const checkboxes = document.querySelectorAll('#RTWP-table input[type="checkbox"]')
            const isAnyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked)
            if (!isAnyChecked) {
                event.preventDefault();
                alert("No cells selected!")
            } else {
                let form = document.getElementById("getChartRTWP");
                form.action = "/helper/chartRTWP";
            }
        }

        function getCustomChart() {
            const checkboxesCells = document.querySelectorAll('#Cell-table input[type="checkbox"]')
            const isAnyCheckedCells = Array.from(checkboxesCells).some(checkbox => checkbox.checked)
            const checkboxesKPI = document.querySelectorAll('#KPI-table input[type="checkbox"]')
            const isAnyCheckedKPIs = Array.from(checkboxesKPI).some(checkbox => checkbox.checked)
            const checkboxesKPINoCell = document.querySelectorAll('#KPINoCell-table input[type="checkbox"]')
            const isAnyCheckedKPIsNoCell = Array.from(checkboxesKPINoCell).some(checkbox => checkbox.checked)
            if (!isAnyCheckedCells && !checkboxesKPINoCell && !isAnyCheckedKPIsNoCell) {
                event.preventDefault();
                alert("No KPIs selected!")
            }
            if (!isAnyCheckedKPIsNoCell) {
                if (!isAnyCheckedCells) {
                    event.preventDefault();
                    alert("No cells selected!")
                } else {
                    if (!isAnyCheckedKPIs) {
                        event.preventDefault();
                        alert("No KPIs selected!")
                        // } else {
                        //     let form = document.getElementById("getCustomChart");
                        //     form.action = "/helper/customCharts";
                    }
                }
            }
            if (isAnyCheckedKPIsNoCell && isAnyCheckedKPIs) {
                if (!isAnyCheckedCells) {
                    event.preventDefault();
                    alert("No cells selected!")
                }
            }
        }
    </script>

    <script>
        function checkAll(source, tableId) {
            const checkboxes = document.querySelectorAll(`#${tableId} .select-checkbox`);
            checkboxes.forEach(checkbox => checkbox.checked = source.checked);
        }

        function updateCheckAll(tableId) {
            const checkboxes = document.querySelectorAll(`#${tableId} .select-checkbox`);
            const checkAllBox = document.querySelector(`#${tableId} .checkAllBox`);
            const allChecked = Array.from(checkboxes).every(checkbox => checkbox.checked)
            checkAllBox.checked = allChecked;
        }

        window.onload = function () {
            const rtwpCheckboxes = document.querySelectorAll('#RTWP-table .select-checkbox');
            const cellCheckboxes = document.querySelectorAll('#Cell-table .select-checkbox');
            const kpiCheckboxes = document.querySelectorAll('#KPI-table .select-checkbox');
            const kpiNoCellCheckboxes = document.querySelectorAll('#KPINoCell-table .select-checkbox');
            rtwpCheckboxes.forEach(checkbox => {
                checkbox.addEventListener('change', () => updateCheckAll('RTWP-table'));
            });
            cellCheckboxes.forEach(checkbox => {
                checkbox.addEventListener('change', () => updateCheckAll('Cell-table'));
            });
            kpiCheckboxes.forEach(checkbox => {
                checkbox.addEventListener('change', () => updateCheckAll('KPI-table'));
            });
            kpiNoCellCheckboxes.forEach(checkbox => {
                checkbox.addEventListener('change', () => updateCheckAll('KPINoCell-table'));
            });
        }
    </script>


    <style>
        legend {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .legend-title {
            flex-grow: 1;
            margin-left: auto;
            align-items: start;
        }

        .legend-button {
            margin-right: auto;
            align-items: end;
        }

        input[type="checkbox"] {
            transform: scale(1.5);
        }

        .radio-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

    </style>

    <form id="search" method="get" onsubmit="searchByUserLabel()">
        <div class="row">
            <div class="col-md-4">
                <input type="text" id="userlabel" name="userlabel"
                       th:value="${managedElement != null} ? ${managedElement.getUserLabel()} : ${sitename}"
                       placeholder="Enter sitename">
                <button type="submit" class="btn btn-success">Search</button>
            </div>

            <div class="col-md-8">
                <table id="Request-table" border="0">
                    <thead>
                        <tr>
                            <th th:each="object: *{repoQueryType.getDataQueryType()}" class="pl-1 pr-1">
                            <input type="checkbox" class="select-checkbox" name="measurementQuerySet"
                                   th:value="${object.getQueryType()}"
                                   th:checked="${object.isSelected()}">
                            <label th:text="${object.getQueryType()}"></label>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </form>

    <div th:if="${managedElement != null}">
        <fieldset>
            <legend>
                    <span class="legend-title" th:text="${managedElement.userLabel} + ' (' + ${managedElement.ManagedElementType} + ') '
                        + ${managedElement.getParsedNe()}"> </span>
                <!--                    <button  type="submit" class="btn btn-danger legend-button">! Change status</button>-->
            </legend>
            <div th:if="${isSelected.contains('Cell Info')}">
                <h2>Cells Info</h2>
                <div th:if="${repoGSMCodes.getDataCodesGSM() != null || repoUMTSCodes.getDataCodesUMTS() != null}"
                     class="row">
                    <div th:if="${repoUMTSCodes.getDataCodesUMTS() != null}" class="col-md-4">
                        <table th:object="${repoUMTSCodes}" id="UMTSCodes-table" border="1"
                               class="table table-striped table-sm table-bordered">
                            <thead>
                            <tr>
                                <th class="pl-5">Sector</th>
                                <th class="pl-5">PSC</th>
                            </tr>
                            </thead>
                            <tbody th:if="${!repoUMTSCodes.getDataCodesUMTS().isEmpty()}">
                            <tr th:each="object: *{dataCodesUMTS}">
                                <td class="pl-5" th:text="${object.getSector()}"></td>
                                <td class="pl-5" th:text="${object.getCode()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:if="${repoGSMCodes.getDataCodesGSM() != null}" class="col-md-4">
                        <table th:object="${repoGSMCodes}" id="GSMCodes-table" border="1"
                               class="table table-striped table-sm table-bordered">
                            <thead>
                            <tr>
                                <th class="pl-5">Sector</th>
                                <th class="pl-5">BCCH</th>
                            </tr>
                            </thead>
                            <tbody th:if="${repoGSMCodes.getDataCodesGSM() != null || !repoGSMCodes.getDataCodesGSM().isEmpty()}">
                            <tr th:each="object: *{dataCodesGSM}">
                                <td class="pl-5" th:text="${object.getSector()}"></td>
                                <td class="pl-5" th:text="${object.getCode()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div th:if="${repoGSMCodes.getDataCodesGSM() == null && repoUMTSCodes.getDataCodesUMTS() == null}">
                    <h5>PSC/BCCH data couldn't be found, please, check the site status!</h5>
                </div>
                <div>
                    <div th:if="${repoInfoCell.getDataCellUMTS() != null}">
                        <table th:object="${repoInfoCell}" id="UMTSCells-table" border="1"
                               class="table table-striped table-sm table-bordered">
                            <thead>
                            <tr>
                                <th class="pl-5">cellName</th>
                                <th class="pl-5">CI(RNC)</th>
                                <th class="pl-5" th:text="${managedElement.getManagedElementType().toString.equals('SDR')} ? 'CI(SDR)' : 'CI(ITBBU)'"></th>
                                <th class="pl-5">PWR(RNC)</th>
                                <th class="pl-5" th:text="${managedElement.getManagedElementType().toString.equals('SDR')} ? 'PWR(SDR)' : 'PWR(ITBBU)'"></th>
                                <th class="pl-5">RAD(RNC)</th>
                                <th class="pl-5" th:text="${managedElement.getManagedElementType().toString.equals('SDR')} ? 'RAD(SDR)' : 'RAD(ITBBU)'"></th>
                            </tr>
                            </thead>
                            <tbody th:if="${!repoInfoCell.getDataCellUMTS().isEmpty()}">
                            <tr th:each="object: *{dataCellUMTS}">
                                <td class="pl-5" th:text="${object.getCellName()}"></td>
                                <td class="pl-5" th:text="${object.getCiRNC()}"></td>
                                <td class="pl-5" th:text="${object.getCiSDR() == null ? '-' : object.getCiSDR()}"></td>
                                <td class="pl-5" th:text="${object.getPowerRNC()}"></td>
                                <td class="pl-5" th:text="${object.getPowerSDR() == null ? '-' : object.getPowerSDR()}"></td>
                                <td class="pl-5" th:text="${object.getRadiusRNC()}"></td>
                                <td class="pl-5" th:text="${object.getRadiusSDR() == null ? '-' : object.getRadiusSDR()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div th:if="${isSelected.contains('VSWR')}">
                <h2>VSWR</h2>
                <div th:if="${repoVSWR.getDataVSWR() != null}" class="row">
                    <div class="col-md-5">
                        <table th:object="${repoVSWR}" id="VSWR-table" border="1"
                               class="table table-striped table-sm table-bordered">
                            <thead>
                            <tr>
                                <th class="pl-5" width="45%">object</th>
                                <th class="pl-5">value</th>
                            </tr>
                            </thead>
                            <tbody th:if="${!repoVSWR.getDataVSWR().isEmpty()}">
                            <tr th:each="object: *{dataVSWR}">
                                <td class="pl-5" th:text="${object.ruAntName}"></td>
                                <td class="pl-5" th:text="${object.vswrValue.equals('Invalid Value') ? 'Not used' : object.vswrValue}"></td>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-7">
                        <form class="inline-container" method="post" target="_blank">
                            <button type="submit" class="btn btn-primary legend-button" formaction="/helper/acceptanceMeasurement/chartVSWR">Get Chart</button>
                            <input type="hidden" name="userLabel" th:value="${managedElement.getUserLabel()}">
                            <label for="timeVSWR" style="font-weight: bold" class="pl-3">Query time (h):</label>
                            <input style="width: 70px" type="number" id="timeVSWR" name="timeVSWR" th:value="${timeVSWR}" placeholder="1..168" min="1" max="168">
                        </form>
                    </div>
                </div>
                <div th:if="${repoVSWR.getDataVSWR() == null}">
                    <h5>VSWR data couldn't be found, please, check the site status!</h5>
                </div>
            </div>

            <div th:if="${isSelected.contains('Optic Levels')}">
                <h2>Optic levels</h2>
                <div th:if="${repoOptic != null}" class="row">
                    <div class="col-md-12">
                        <table th:if="${!repoOptic.getDataOpticDev1().isEmpty() && repoOptic.getMaxSize().get(0) > 2}" th:object="${repoOptic}" id="DEV1-table" border="1"
                               class="table table-striped table-sm table-bordered">
                            <tbody>
                            <tr th:each="rowIndex : ${#numbers.sequence(0, repoOptic.getMaxSize().get(0) - 1)}"
                                th:style="${rowIndex == 0 || rowIndex == 4 || rowIndex == 5 || rowIndex == 9 || rowIndex == 10 || rowIndex == 14 || rowIndex == 15 ? 'font-weight: bold' : ''}">
                                <td class="col-md-2" align="center" th:each="col : ${repoOptic.getDataOpticDev1()}" th:text="${rowIndex < col.size() ? col[rowIndex] : ''}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <table th:if="${!repoOptic.getDataOpticDev2().isEmpty() && repoOptic.getMaxSize().get(1) > 2}" th:object="${repoOptic}" id="DEV2-table" border="1"
                               class="table table-striped table-sm table-bordered">
                            <tbody>
                            <tr th:each="rowIndex : ${#numbers.sequence(0, repoOptic.getMaxSize().get(1) - 1)}"
                                th:style="${rowIndex == 0 || rowIndex == 4 || rowIndex == 5 || rowIndex == 9 || rowIndex == 10 || rowIndex == 14 || rowIndex == 15 ? 'font-weight: bold' : ''}">
                                <td class="col-md-2" align="center" th:each="col : ${repoOptic.getDataOpticDev2()}" th:text="${rowIndex < col.size() ? col[rowIndex] : ''}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <table th:if="${!repoOptic.getDataOpticDev3().isEmpty() && repoOptic.getMaxSize().get(2) > 2}" th:object="${repoOptic}" id="DEV3-table" border="1"
                               class="table table-striped table-sm table-bordered">
                            <tbody>
                            <tr th:each="rowIndex : ${#numbers.sequence(0, repoOptic.getMaxSize().get(2) - 1)}"
                                th:style="${rowIndex == 0 || rowIndex == 4 || rowIndex == 5 || rowIndex == 9 || rowIndex == 10 || rowIndex == 14 || rowIndex == 15 ? 'font-weight: bold' : ''}">
                                <td class="col-md-2" align="center" th:each="col : ${repoOptic.getDataOpticDev3()}" th:text="${rowIndex < col.size() ? col[rowIndex] : ''}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <table th:if="${!repoOptic.getDataOpticDev4().isEmpty() && repoOptic.getMaxSize().get(3) > 2}" th:object="${repoOptic}" id="DEV4-table" border="1"
                               class="table table-striped table-sm table-bordered">
                            <tbody>
                            <tr th:each="rowIndex : ${#numbers.sequence(0, repoOptic.getMaxSize().get(3) - 1)}"
                                th:style="${rowIndex == 0 || rowIndex == 4 || rowIndex == 5 || rowIndex == 9 || rowIndex == 10 || rowIndex == 14 || rowIndex == 15 ? 'font-weight: bold' : ''}">
                                <td class="col-md-2" align="center" th:each="col : ${repoOptic.getDataOpticDev4()}" th:text="${rowIndex < col.size() ? col[rowIndex] : ''}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <table th:if="${!repoOptic.getDataOpticDev5().isEmpty() && repoOptic.getMaxSize().get(4) > 2}" th:object="${repoOptic}" id="DEV5-table" border="1"
                               class="table table-striped table-sm table-bordered">
                            <tbody>
                            <tr th:each="rowIndex : ${#numbers.sequence(0, repoOptic.getMaxSize().get(4) - 1)}"
                                th:style="${rowIndex == 0 || rowIndex == 4 || rowIndex == 5 || rowIndex == 9 || rowIndex == 10 || rowIndex == 14 || rowIndex == 15 ? 'font-weight: bold' : ''}">
                                <td class="col-md-2" align="center" th:each="col : ${repoOptic.getDataOpticDev5()}" th:text="${rowIndex < col.size() ? col[rowIndex] : ''}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <table th:if="${!repoOptic.getDataOpticDev6().isEmpty() && repoOptic.getMaxSize().get(5) > 2}" th:object="${repoOptic}" id="DEV6-table" border="1"
                               class="table table-striped table-sm table-bordered">
                            <tbody>
                            <tr th:each="rowIndex : ${#numbers.sequence(0, repoOptic.getMaxSize().get(5) - 1)}"
                                th:style="${rowIndex == 0 || rowIndex == 4 || rowIndex == 5 || rowIndex == 9 || rowIndex == 10 || rowIndex == 14 || rowIndex == 15 ? 'font-weight: bold' : ''}">
                                <td class="col-md-2" align="center" th:each="col : ${repoOptic.getDataOpticDev6()}" th:text="${rowIndex < col.size() ? col[rowIndex] : ''}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <table th:if="${!repoOptic.getDataOpticLink().isEmpty()}" th:object="${repoOptic}" id="LINK-table" border="1"
                               th:class="${repoOptic.getDataOpticLink().size() == 1 ? 'table table-striped table-sm table-bordered col-md-3' : 'table table-striped table-sm table-bordered col-md-9'}">
                            <tbody>
                            <tr th:each="rowIndex : ${#numbers.sequence(0, repoOptic.getMaxSize().get(6) - 1)}"
                                th:style="${rowIndex == 0 ? 'font-weight: bold' : ''}">
                                <td class="col-md-3" align="center" th:each="col : ${repoOptic.getDataOpticLink()}" th:text="${rowIndex < col.size() ? col[rowIndex] : ''}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <table th:if="${!repoOptic.getDataOpticDevItbbu1_1().isEmpty()}" th:object="${repoOptic}" id="DEVItbbu1_1-table" border="1"
                               class="table table-striped table-sm table-bordered">
                            <tbody>
                            <tr th:each="rowIndex : ${#numbers.sequence(0, repoOptic.getMaxSizeItbbu().get(0) - 1)}"
                                th:style="${rowIndex == 0 || rowIndex == 4 || rowIndex == 5 || rowIndex == 9 || rowIndex == 10 || rowIndex == 14 || rowIndex == 15 ? 'font-weight: bold' : ''}">
                                <td class="col-md-2" align="center" th:each="col : ${repoOptic.getDataOpticDevItbbu1_1()}" th:text="${rowIndex < col.size() ? col[rowIndex] : ''}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <table th:if="${!repoOptic.getDataOpticDevItbbu1_2().isEmpty()}" th:object="${repoOptic}" id="DEVItbbu1_2-table" border="1"
                               class="table table-striped table-sm table-bordered col-md-8">
                            <tbody>
                            <tr th:each="rowIndex : ${#numbers.sequence(0, repoOptic.getMaxSizeItbbu().get(1) - 1)}"
                                th:style="${rowIndex == 0 || rowIndex == 4 || rowIndex == 5 || rowIndex == 9 || rowIndex == 10 || rowIndex == 14 || rowIndex == 15 ? 'font-weight: bold' : ''}">
                                <td class="col-md-2" align="center" th:each="col : ${repoOptic.getDataOpticDevItbbu1_2()}" th:text="${rowIndex < col.size() ? col[rowIndex] : ''}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <table th:if="${!repoOptic.getDataOpticDevItbbu2_1().isEmpty()}" th:object="${repoOptic}" id="DEVItbbu2_1-table" border="1"
                               class="table table-striped table-sm table-bordered">
                            <tbody>
                            <tr th:each="rowIndex : ${#numbers.sequence(0, repoOptic.getMaxSizeItbbu().get(2) - 1)}"
                                th:style="${rowIndex == 0 || rowIndex == 4 || rowIndex == 5 || rowIndex == 9 || rowIndex == 10 || rowIndex == 14 || rowIndex == 15 ? 'font-weight: bold' : ''}">
                                <td class="col-md-2" align="center" th:each="col : ${repoOptic.getDataOpticDevItbbu2_1()}" th:text="${rowIndex < col.size() ? col[rowIndex] : ''}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <table th:if="${!repoOptic.getDataOpticDevItbbu2_2().isEmpty()}" th:object="${repoOptic}" id="DEVItbbu2_2-table" border="1"
                               class="table table-striped table-sm table-bordered col-md-8">
                            <tbody>
                            <tr th:each="rowIndex : ${#numbers.sequence(0, repoOptic.getMaxSizeItbbu().get(3) - 1)}"
                                th:style="${rowIndex == 0 || rowIndex == 4 || rowIndex == 5 || rowIndex == 9 || rowIndex == 10 || rowIndex == 14 || rowIndex == 15 ? 'font-weight: bold' : ''}">
                                <td class="col-md-2" align="center" th:each="col : ${repoOptic.getDataOpticDevItbbu2_2()}" th:text="${rowIndex < col.size() ? col[rowIndex] : ''}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <table th:if="${!repoOptic.getDataOpticLinkItbbu().isEmpty()}" th:object="${repoOptic}" id="LINKItbbu-table" border="1"
                               class="table table-striped table-sm table-bordered col-md-8">
                            <tbody>
                            <tr th:each="rowIndex : ${#numbers.sequence(0, repoOptic.getMaxSizeItbbu().get(4) - 1)}"
                                th:style="${rowIndex == 0 ? 'font-weight: bold' : ''}">
                                <td class="col-md-3" align="center" th:each="col : ${repoOptic.getDataOpticLinkItbbu()}" th:text="${rowIndex < col.size() ? col[rowIndex] : ''}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <details>
                            <summary>Boards without configured connections:</summary>
                            <table th:if="${!repoOptic.getDataOpticDev1().isEmpty() && repoOptic.getMaxSize().get(0) <= 2}" th:object="${repoOptic}" id="DEV1-table" border="1"
                                   class="table table-striped table-sm table-bordered">
                                <tbody>
                                <tr th:each="rowIndex : ${#numbers.sequence(0, repoOptic.getMaxSize().get(0) - 1)}"
                                    th:style="${rowIndex == 0 || rowIndex == 4 || rowIndex == 5 || rowIndex == 9 || rowIndex == 10 || rowIndex == 14 || rowIndex == 15 ? 'font-weight: bold' : ''}">
                                    <td class="col-md-2" align="center" th:each="col : ${repoOptic.getDataOpticDev1()}" th:text="${rowIndex < col.size() ? col[rowIndex] : ''}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table th:if="${!repoOptic.getDataOpticDev2().isEmpty() && repoOptic.getMaxSize().get(1) <= 2}" th:object="${repoOptic}" id="DEV2-table" border="1"
                                   class="table table-striped table-sm table-bordered">
                                <tbody>
                                <tr th:each="rowIndex : ${#numbers.sequence(0, repoOptic.getMaxSize().get(1) - 1)}"
                                    th:style="${rowIndex == 0 || rowIndex == 4 || rowIndex == 5 || rowIndex == 9 || rowIndex == 10 || rowIndex == 14 || rowIndex == 15 ? 'font-weight: bold' : ''}">
                                    <td class="col-md-2" align="center" th:each="col : ${repoOptic.getDataOpticDev2()}" th:text="${rowIndex < col.size() ? col[rowIndex] : ''}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table th:if="${!repoOptic.getDataOpticDev3().isEmpty() && repoOptic.getMaxSize().get(2) <= 2}" th:object="${repoOptic}" id="DEV3-table" border="1"
                                   class="table table-striped table-sm table-bordered">
                                <tbody>
                                <tr th:each="rowIndex : ${#numbers.sequence(0, repoOptic.getMaxSize().get(2) - 1)}"
                                    th:style="${rowIndex == 0 || rowIndex == 4 || rowIndex == 5 || rowIndex == 9 || rowIndex == 10 || rowIndex == 14 || rowIndex == 15 ? 'font-weight: bold' : ''}">
                                    <td class="col-md-2" align="center" th:each="col : ${repoOptic.getDataOpticDev3()}" th:text="${rowIndex < col.size() ? col[rowIndex] : ''}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table th:if="${!repoOptic.getDataOpticDev4().isEmpty() && repoOptic.getMaxSize().get(3) <= 2}" th:object="${repoOptic}" id="DEV4-table" border="1"
                                   class="table table-striped table-sm table-bordered">
                                <tbody>
                                <tr th:each="rowIndex : ${#numbers.sequence(0, repoOptic.getMaxSize().get(3) - 1)}"
                                    th:style="${rowIndex == 0 || rowIndex == 4 || rowIndex == 5 || rowIndex == 9 || rowIndex == 10 || rowIndex == 14 || rowIndex == 15 ? 'font-weight: bold' : ''}">
                                    <td class="col-md-2" align="center" th:each="col : ${repoOptic.getDataOpticDev4()}" th:text="${rowIndex < col.size() ? col[rowIndex] : ''}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table th:if="${!repoOptic.getDataOpticDev5().isEmpty() && repoOptic.getMaxSize().get(4) <= 2}" th:object="${repoOptic}" id="DEV5-table" border="1"
                                   class="table table-striped table-sm table-bordered">
                                <tbody>
                                <tr th:each="rowIndex : ${#numbers.sequence(0, repoOptic.getMaxSize().get(4) - 1)}"
                                    th:style="${rowIndex == 0 || rowIndex == 4 || rowIndex == 5 || rowIndex == 9 || rowIndex == 10 || rowIndex == 14 || rowIndex == 15 ? 'font-weight: bold' : ''}">
                                    <td class="col-md-2" align="center" th:each="col : ${repoOptic.getDataOpticDev5()}" th:text="${rowIndex < col.size() ? col[rowIndex] : ''}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table th:if="${!repoOptic.getDataOpticDev6().isEmpty() && repoOptic.getMaxSize().get(5) <= 2}" th:object="${repoOptic}" id="DEV6-table" border="1"
                                   class="table table-striped table-sm table-bordered">
                                <tbody>
                                <tr th:each="rowIndex : ${#numbers.sequence(0, repoOptic.getMaxSize().get(5) - 1)}"
                                    th:style="${rowIndex == 0 || rowIndex == 4 || rowIndex == 5 || rowIndex == 9 || rowIndex == 10 || rowIndex == 14 || rowIndex == 15 ? 'font-weight: bold' : ''}">
                                    <td class="col-md-2" align="center" th:each="col : ${repoOptic.getDataOpticDev6()}" th:text="${rowIndex < col.size() ? col[rowIndex] : ''}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </details>
                    </div>
                </div>
            </div>
            <div th:if="${isSelected.contains('Sync')}">
                <h2>Sync (Coming soon...)</h2>
            </div>
            <div th:if="${isSelected.contains('Custom History')}">
                <h2>History Query</h2>
                <form id="getCustom" method="post" target="_blank" onsubmit="getCustomChart()">
                    <div class="row" th:if="${repoCell != null}">
                    <div class="col-md-3">
                            <table th:object="${repoCell}" id="Cell-table" border="1"
                                   class="table table-striped table-sm table-bordered">
                                <thead>
                                <tr>
                                    <th class="text-center" width="40px">
                                        <input type="checkbox" class="checkAllBox" onclick="checkAll(this, 'Cell-table')">
                                    <th class="pl-5">cellName</th>
                                </tr>
                                </thead>
                                <tbody th:if="${!repoCell.getDataCell().isEmpty()}">
                                <tr th:each="object: *{dataCell}">
                                    <td class="text-center">
                                        <input type="checkbox" class="select-checkbox" name="checkedCustomCellsList" th:value="${object.cell.getUserLabel()}" th:checked="${object.isSelected()}">
                                    </td>
                                    <td class="pl-5" th:text="${object.cell.getUserLabel()}"></td>
                                   </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <div>
<!--                            <button type="submit" class="btn btn-primary legend-button">Get Chart</button>-->
                            <button type="submit" class="btn btn-primary legend-button" formaction="/helper/acceptanceMeasurement/customCharts">Get Chart</button>
                            <label for="time" style="font-weight: bold" class="pl-3">Query time (h):</label>
                            <input style="width: 70px" type="number" id="time" name="time" th:value="${time}" placeholder="1..168" min="1" max="168">
                            <input type="hidden" name="userLabel" th:value="${managedElement.getUserLabel()}">
                            </div>
                            <br>
                            <table th:object="${repoKPI}" id="KPI-table" border="1"
                                   class="table table-striped table-sm table-bordered">
                                <thead>
                                <tr>
                                    <th class="text-center" width="40px">
                                        <input type="checkbox" class="checkAllBox" onclick="checkAll(this, 'KPI-table')">
                                    <th class="pl-5">KPI</th>
                                </tr>
                                </thead>
                                <tbody th:if="${!repoKPI.getDataKPI().isEmpty()}">
                                <tr th:each="object: *{dataKPI}">
                                    <td class="text-center">
                                        <input type="checkbox" class="select-checkbox" name="checkedKPIsList" th:value="${object.getKpiName()}" th:checked="${object.isSelected()}">
                                    </td>
                                    <td class="pl-5" th:text="${object.getKpiName()}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <br>
                            <table th:object="${repoKPI}" id="KPINoCell-table" border="1"
                                   class="table table-striped table-sm table-bordered">
                                <thead>
                                <tr>
                                    <th class="text-center" width="40px">
                                        <input type="checkbox" class="checkAllBox" onclick="checkAll(this, 'KPINoCell-table')">
                                    <th class="pl-5">KPI (no cell associated)</th>
                                </tr>
                                </thead>
                                <tbody th:if="${!repoKPI.getDataKPINoCell().isEmpty()}">
                                <tr th:each="object: *{dataKPINoCell}">
                                    <td class="text-center">
                                        <input type="checkbox" class="select-checkbox" name="checkedKPIsNoCellList" th:value="${object.getKpiName()}" th:checked="${object.isSelected()}">
                                    </td>
                                    <td class="pl-5" th:text="${object.getKpiName()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
                <div th:if="${repoCell == null}">
                    <h5>Cells couldn't be found, please, check the site status!</h5>
                </div>
            </div>
        </fieldset>
    </div>

    <br/>
    <div th:if="${message != null && message.getSeverity().toString.equals('SUCCESS')}"
         th:text="${message.getMessage()}" class="alert alert-success" role="alert" id="alert-success">
    </div>
    <div th:if="${message != null && message.getSeverity().toString.equals('ERROR')}"
         th:text="${message.getMessage()}" class="alert alert-danger" role="alert" id="alert-danger">
    </div>
    <div th:if="${message != null && message.getSeverity().toString.equals('INFO')}"
         th:text="${message.getMessage()}" class="alert alert-info" role="alert" id="alert-info">
    </div>
</div>
    </main>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>